.center-div {
    margin: 0 auto;
    width: 80%;
}

#page-container{
    position: relative;
    top: 55px;
    left: 0px;
}

body{
    background-color: #ffffff;
}

.navbar-toggle{
    background-color: #F17B08;
    color: #ffffff;
}


/* Styling for contact us/team page */
.team-member{
    width: 100%;
    margin-bottom: 25px;
}
.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    text-align: center;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

ul.social-buttons {
    width: 100%;
    margin-bottom: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.entries{
    font-family: "Ubuntu", Times, serif;
}

ul.social-buttons li a {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active{
    background-color:#fed136;
}
