{% extends "layout.html" %}
{% block body %}

    <ul class="entries">
  {% for entry in entries %}
    <li><h2><a href="/{{ entry['hash_val']|safe }}">{{ entry['url'] }}</a></h2>http://www.shor10.com/{{ entry['hash_val']|safe }} clicked {{entry['num_clicks']}} times.  <a href="/map/{{ entry['hash_val']|safe }}"><img src="../static/img/map.png" height="28px" width="50px"></a><br />  <div id="{{ entry['hash_val']|safe }}">  </div>
<script>
        jQuery('#{{ entry['hash_val']|safe }}').qrcode({
                text    : "http://www.shor10.com/{{ entry['hash_val']|safe }}"
        });
</script></li>
  {% else %}
    <li>Nothing here yet.</li>
  {% endfor %}
    </ul>
{% endblock %}
