<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-75285322-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-75285322-1');
</script>

<title>SHOR10.COM - SHOR10 YOUR SEARCHES</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!--QR Code-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript"  src="{{ url_for('static', filename='js/jquery-qrcode-master/src/jquery.qrcode.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-qrcode-master/src/qrcode.js') }}"></script>

<!-- Font Awesome Icons -->
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!--Import Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

<!-- Custom styles for this project -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customStyle.css') }}">
</head>

<body class="index">
  <!-- Start NAVBAR -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="{{ url_for('show_entries') }}">shor10</a>
      </div>
      <!--Toggled navbar for mobile viewing -->
      <div class="collapse navbar-collapse">
	<ul class="nav navbar-nav">
	  <li class="hidden"><a href="{{ url_for('show_entries') }}">Home</a></li>
	  {% if not session.logged_in %}
  	  <li><a href="{{ url_for('login') }}">Log In</a></li>
	  <li><a href="{{ url_for('register') }}">Sign Up</a></li>
	  {% else %}
	  <li><a href="{{ url_for('logout') }}">Log Out</a></li>
	  <li><a href="{{ url_for('history') }}">History</a></li>
	  {% endif %}
	  <li><a href="{{ url_for('contact_us') }}">Contact</a></li>
	</ul>
      </div>
    </div>
  </div>
  <!-- End NAVBAR -->

  <!-- Everything except header goes inside this container -->
  <div id="page-container"  class="container">
    <div class="messages">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
  </div>
<!--</div>-->

</body>
</html>
