<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyAoDHovbN23nWhkIFQjb-f1wiksG4RUtWA'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable({{ entries|safe }});
        <!-- var data = google.visualization.arrayToDataTable([ -->
        <!--   ['Country', 'Popularity'], -->
        <!--   ['Germany', 200], -->
        <!--   ['United States', 300], -->
        <!--   ['Brazil', 400], -->
        <!--   ['Canada', 500], -->
        <!--   ['France', 600], -->
        <!--   ['RU', 700] -->
        <!-- ]); -->

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
<body>
  <div id="page-container"  class="container">
    <div class="messages">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
  </div>

    <div id="regions_div" style="width: 900px; height: 500px;"></div>
  </body>

