{% extends "layout.html" %}
{% block body %}
  <div class="col-md-4 col-md-offset-4">
    <h2>Register</h2>
  </div>
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
  <div class="container-fluid centered">
    <form action="{{ url_for('register') }}" method="post">
      <div class="row">
	<div class="form-group col-md-4 col-md-offset-4">
	    <input type="text" class="form-control" name="email" placeholder="Email">
	    </div>
      </div>
      <div class="row">
	<div class="form-group col-md-4 col-md-offset-4">
	    <input type="password" class="form-control" name="password" placeholder="Password">
	    </div>
      </div>
      <div class="row">
	<div class="col-md-4 col-md-offset-4">
	    <input type="submit" class="btn btn-lg btn-warning btn-block" value="Sign Me Up!">
	    </div>
      </div>
    </form>
  </div>

{% endblock %}
