{% extends "layout.html" %}
{% block body %}
    <div class="row">
      <div class="col-lg-6">
	<form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
	  <div class="input-group">
	    <input class="form-control" type="text" size="30" name="url" placeholder="Enter URL to shorten">
	    <span class="input-group-btn">
	      <input class="btn btn-default" type="submit" value="Shorten">
	    </span>
	  </div>
	</form>
      </div>
    </div>

    <ul class="entries">
  {% for entry in entries %}
    {% if loop.index == 1 %}
      <li><h2><a href="/{{ entry['hash_val']|safe }}">{{ entry['url'] }}</a></h2>http://www.shor10.com/{{ entry['hash_val']|safe }} <br /><div id="{{ entry['hash_val']|safe }}"></div>
<script>
	jQuery('#{{ entry['hash_val']|safe }}').qrcode({
		text	: "http://www.shor10.com/{{ entry['hash_val']|safe }}"
	});
</script></li>
    {% endif %}
  {% endfor %}
    </ul>
{% endblock %}
