{% extends "layout.html" %}
{% block body %}
<!-- Team/Contact Section -->
<section id="team" class="bg-light-gray">
  <div class="containter">
    <div class="row">
      <div class="col-lg-12 text-center">
	<h2 class="section-heading">Our Team</h2>
	<h3 class="section-subheading text-muted">Questions? Comments? Concerns?  Let us know.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
	<div class="team-member">
	  <img src="../static/img/Fozzie.png" class="img-responsive img-circle" alt="">
	  <h4>Dante Marone</h4>
	  <ul class="list-inline social-buttons">
	    <li><a href="mailto:Dante.Marone@gmail.com"><i class="fa fa-envelope"></i></a>
	    </li>
	    <li><a href="http://www.dantemarone.com"><i class="fa fa-external-link"></i></a>
	    </li>
	  </ul>
	</div>
      </div>
      <div class="col-sm-6">
	<div class="team-member">
	  <img src="../static/img/Gonzo.png" class="img-responsive img-circle" alt="">
	  <h4>Will Renneker</h4>
	  <ul class="list-inline social-buttons">
	    <li><a href="mailto:rennekerwl@gmail.com"><i class="fa fa-envelope"></i></a>
	    </li>
	  </ul>
	</div>
      </div>

{% endblock %}
